@import 'styles/breakpoints.scss';
@import 'styles/util.scss';

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: rgb(244, 244, 244);
}

.header {
    margin-bottom: 20px;
    background-color: #2C3333;
    color: white;
    padding: 20px 25px;
    box-shadow: 0px 0px 9px 3px rgba(41, 41, 41, .25);

    @media (max-width: $breakpoint-mobile) {
        padding: 2% 5%;
    }
}

.header--menus li {
    cursor: pointer;
    margin-right: 30px;
    list-style: none;

    @media (max-width: $breakpoint-mobile) {
        display: none;
    }
}

.header--heading {
    cursor: pointer;
}

.calculator {
    padding: 1% 3%;
    flex-direction: column;
    align-items: flex-start;
}

.input-field {
    font-size: 1em;
    margin-top: 10px;
    width: 450px;
    height: 45px;
    text-indent: 10px;
    outline: none;
    border: 1px solid gray;
    border-radius: 6px;

    @media (max-width: $breakpoint-mobile) {
        width: 100%;
    }
}

.gst-buttons {
    margin: 2%;

    @media (max-width: $breakpoint-mobile) {
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }
}

.gst-buttons label {
    font-size: 1rem;
    margin: 0 20px 0 5px;
}

.result-container {
    padding: 10px 15px;
    border-radius: 6px;
    background-color: #16d261;
    box-shadow: 1px 1px 5px 1px rgb(200, 200, 200);
}

.gst-result {
    font-size: 1.2rem;
    font-weight: 600;
}