* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #E7F6F2;
}

header {
    margin-bottom: 20px;
    background-color: #2C3333;
    color: white;
    padding: 20px 50px 20px 50px;
    /* shadow code below is not mine...idk how it works */
    -webkit-box-shadow: 0px 0px 9px 3px rgba(41, 41, 41, .25);
    -moz-box-shadow: 0px 0px 9px 3px rgba(41, 41, 41, .25);
    box-shadow: 0px 0px 9px 3px rgba(41, 41, 41, .25);
}

.total-center-flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.space-btw-flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.header--menus li {
    margin-right: 10px;
    list-style: none;
}

.calculator {
    display: grid;
    justify-content: center;
}

.input-field {
    border-radius: 5px;
    margin-top: 10px;
    width: 450px;
    height: 45px;
    text-indent: 5px;
}

.gst-buttons {
    margin: 20px 0 20px 0;
}

.gst-buttons label {
    margin: 0 20px 0 5px;
}