@import 'styles/breakpoints.scss';
@import 'styles/util.scss';

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #E7F6F2;
}

.header {
    margin-bottom: 20px;
    background-color: #2C3333;
    color: white;
    padding: 20px 25px;
    box-shadow: 0px 0px 9px 3px rgba(41, 41, 41, .25);

    @media (max-width: $breakpoint-mobile) {
        padding: 2% 5%;
    }
}

.header--menus li {
    cursor: pointer;
    margin-right: 30px;
    list-style: none;

    @media (max-width: $breakpoint-mobile) {
        display: none;
    }
}

.header--heading {
    cursor: pointer;
}

.calculator {
    padding: 1% 3%;
    flex-direction: column;
    align-items: flex-start;
}

.input-field {
    border-radius: 5px;
    margin-top: 10px;
    width: 450px;
    height: 45px;
    text-indent: 5px;
    outline: none;

    @media (max-width: $breakpoint-mobile) {
        width: 90%;
    }
}

.gst-buttons {
    margin: 2%;

    @media (max-width: $breakpoint-mobile) {
        width: 60%;
    }
}

.gst-buttons label {
    font-size: 1rem;
    margin: 0 20px 0 5px;
}

.gst-result {
    font-size: 1.2rem;
    font-weight: 600;
}